body {
    font-family: 'Noto Sans SC';
}
/* 检测iOS系统并应用苹果字体 */
@supports (-webkit-touch-callout: none) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
}

header {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* 确保超出部分不显示 */
}

.h2-tagline {
    color: #666; /* 设置字体颜色 */
    font-size: 20px; /* 设置字体大小 */
    margin-top: 5px; /* 在h2下方留出2像素的间隔 */
    text-align: center; /* 文本居中 */
    width: fit-content;
}
.h2-tagline::after{
    content: '';
    background-color: #666;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
}

.h2-tagline a {
    color: inherit; /* 继承父元素的颜色 */
    text-decoration: none; /* 去除下划线 */
}

.h2-tagline a:hover {
    color: #555; /* 悬停时的颜色，可以根据需要调整 */
    text-decoration: none; /* 悬停时也去除下划线 */
    cursor: pointer;
}

h1 {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    font-size: 70px;
    letter-spacing: 4px; /* 增加字间距 */
    z-index: 3;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

h2 {
    font-size: 50px;
    letter-spacing: 0; /* 增加字间距 */
    margin: 0; /* 移除默认边距 */
    padding:0; 
}

/* 选择没有兄弟元素.h2-tagline的h2 */
h2:not(+ .h2-tagline) {
    /* CSS 样式 */
    margin-bottom: 120px;
}

.h2-tagline,h2{
    position: relative;
}

#tagline {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    z-index: 3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */

}

@keyframes floatArrow {
    0%, 100% {
        transform: translateY(0); /* 开始和结束时回到原位 */
    }
    50% {
        transform: translateY(10px); /* 向下移动10像素 */
    }
}

#down-arrow {
    position: absolute;
    bottom: 10%; /* 距离底部10%的距离 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 精确居中 */
    width: 0; /* 宽度为0 */
    height: 0; /* 高度为0 */
    border-left: 20px solid transparent; /* 左边框透明 */
    border-right: 18px solid transparent; /* 右边框透明 */
    border-top: 18px solid white; /* 上边框白色，形成三角形 */
    z-index: 3; /* 确保在最上层显示 */
    animation: floatArrow 2s ease-in-out infinite; /* 应用动画 */
    cursor:pointer;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4); /* 添加阴影效果 */

}

#right-nav {
    color: white;
    position: absolute;
    top: 20px;
    right: calc(100% * 0.2); /* 页面宽度的15% */
    padding: 10px;
    z-index: 3; /* 确保导航栏在最上层 */
    font-size: 18px; 
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

#right-nav a {
    color: inherit; /* 链接颜色继承父元素颜色 */
    text-decoration: none; /* 去除下划线 */
}

#right-nav a:hover {
    color: #555; /* 悬停时的颜色，可以根据需要调整 */
}

#right-nav ul {
    list-style-type: none;
    padding: 0;
}

#right-nav ul li {
    display: inline;
    margin-left: 10px;
    margin-left: 10px; /* 增加左边距 */
    margin-right: 10px; /* 增加右边距 */
}

#left-nav {
    position: absolute;
    top: 0;
    left: calc(100% * 0.2);
    color: white;
    padding: 5px;
    font-size: 25px;
    z-index: 4;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */

}

#left-nav ul {
    list-style-type: none;
}

#left-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

#left-nav a:hover {
    color: #555;
}

#project {
    padding-top: 10%; /* 将顶部的 padding 缩短 10% */
}

.project-container {
    margin-top: 5%;
    padding: 0; /* 内边距为0，确保左右两边顶格 */
    width: 100%; /* 宽度为100% */
}

.project-row .project-description {
    width: 45%; /* 调整描述宽度，留出间隙 */
    padding: 10px; /* 添加内边距 */
    color: inherit; /* 保持描述文字颜色不变 */
    text-align: left; /* 默认情况下文本靠左对齐 */
    
}
#right-nav a:hover {
    color: #555; /* 悬停时的颜色，可以根据需要调整 */
}

.project-description p:first-child {
    font-size: 35px; /* 第一行字体较大 */
    font-weight: 600;
    margin-bottom: 10px; /* 增加与第二行的间距 */
}

.project-description p:last-child {
    font-size: 20px; /* 第二行字体较小 */
}

.project-row.reverse .project-description {
    text-align: right; /* 在reverse类下文本靠右对齐 */
}

.project-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* 添加适当的间距 */
    font-size: 20px;
    padding: 0 2%; /* 添加左右内边距，使图片向中间拓宽一点点 */
    position: relative;
}

.main-img {
    width: 48%; /* 调整图片宽度 */
    height: auto;
    display: block;
}

.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
    object-fit: cover; /* 确保图片覆盖容器 */
}

.project-row:hover .hover-img {
    opacity: 1;
}

.project-row a {
    width: 48%; /* 设置链接宽度为容器的48% */
    display: block; /* 确保链接是块级元素 */
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
    text-decoration: none; /* 去除下划线 */
}

.project-row img {
    width: 100%; /* 图片宽度设置为100% */
    height: auto; /* 高度自动，保持图片比例 */
    display: block; /* 确保图片是块级元素 */
    margin: 0; /* 移除外边距 */
    padding: 0; /* 移除内边距 */
    cursor: pointer;
}

.project-row.reverse {
    flex-direction: row-reverse; /* 反转顺序 */
}

/* 使用 @media 查询实现响应式设计 */
@media (max-aspect-ratio: 4/3) {
    .project-container {
        display: block;
        flex-direction: column; /* 使项目竖直排列 */
        align-items: center; /* 居中对齐 */
    }

    .project-row {
        flex-direction: column; /* 使项目竖直排列 */
        align-items: center; /* 居中对齐 */
        margin-bottom: 40px; /* 添加适当的间距 */
        width: 100%; /* 调整项目宽度 */
        padding: 0; /* 移除内边距 */
    }

    .project-row .project-description {
        text-align: center; /* 文本居中对齐 */
    }

    .main-img {
        width: 100%; /* 调整图片宽度 */
        margin-bottom: 10px; /* 添加图片与描述之间的间距 */
    }

    .project-row a {
        width: 100%; /* 设置链接宽度为容器的100% */
    }
    .project-row.reverse {
        flex-direction: column; /* 使项目竖直排列 */
    }
    .project-row.reverse .project-description {
        text-align: center; /* 在reverse类下文本靠右对齐 */
    }

}

.video-container {
    text-align: center; /* 使容器内的内容居中 */
    padding: 5%; /* 添加适当的内边距 */
    margin-bottom: 35px; /* 在容器底部添加间距 */
}

.video-container video {
    width: 100%; /* 视频宽度，根据需要调整 */
    height: auto; /* 保持视频的原始比例 */
    margin: 0 auto; /* 水平居中视频 */
}

.tool-description {
    text-align: center; /* 描述文字居中对齐 */
    padding-top: 10px; /* 在描述文字的顶部添加一些间距 */
}

.tool-description p:first-child {
    font-size: 35px; /* 第一行字体较大 */
    margin-bottom: 50px; /* 增加与第二行的间距 */
    font-weight: 600;
}

.tool-description p:last-child {
    padding: 1px;
    font-size: 16px; /* 第二行字体较小 */
}

.img-gallery {
    --vgap: 0.2vw;
    --hgap: 1vh;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; /* 保持元素之间的间距 */
    width: 100%; /* 容器宽度为100% */
    gap: var(--hgap) var(--vgap); 
    margin: 5% 0;
}
.img-gallery > .img-gallery {
    margin: 0;
}

.img-gallery a {
    box-sizing: border-box; /* 包括padding和border在内的总宽度 */
    display: block;
}

.two-per-row {
    width: calc(50% - var(--vgap));
}

.four-per-row {
    width: calc(25% - var(--vgap));
}


.img-gallery img {
    width: 100%; /* 图片宽度自适应容器 */
    height: auto; /* 高度自动，保持比例 */
    transition: transform 0.3s ease-in-out; /* 平滑过渡效果 */
    cursor: zoom-in; /* 鼠标悬停时显示放大镜图标 */
}

@media (max-aspect-ratio: 1/1) {
    #left-nav {
        position: absolute;
        left: 0;
        font-size: 25px;
        z-index: 4;
    }
    #right-nav {
        position: absolute;
        top: 20px;
        right: 0; 
        z-index: 3; /* 确保导航栏在最上层 */
        font-size: 18px; 
    }
    .img-gallery {
        flex-direction: column; /* 将子元素排列改为竖直排列 */
        align-items: center; /* 子元素在交叉轴上居中对齐 */
        gap: 10px;
    }

    .img-gallery a {
        width: 100%; /* 调整宽度以适应竖屏显示 */
    }
}

section {
    /* width: 100%;  */
    box-sizing: content-box;
    text-align: center; /* 文本居中 */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15%;
}

section h2 {
    color: #333;
}

img {
    width: 100%;
    transition: transform 0.2s;
}




#fullscreen-image {
    width: 100vw; /* 视口宽度 */
    height: 100vh; /* 视口高度 */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0;
    user-select: none; /* 防止用户选择图片 */
    pointer-events: none; /* 防止鼠标事件影响图片 */

}

#image-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.80); /* 50% 不透明度的黑色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#preview-container {
    position: relative;
    width: 80%;
}

#preview-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
}

#left-arrow {
    padding: 40px; 
    margin: -40px;
    position: fixed;
    left: 5%;  /* 从左边缘向内偏移10% */
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
}

#right-arrow {
    padding: 40px; 
    margin: -40px;
    position: fixed;
    right: 5%;  /* 从右边缘向内偏移10% */
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    cursor: pointer;
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 页脚样式 */
footer {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background-color: #f5f5f7;
    color: #333;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: #333;
    text-decoration: none;
}
footer a:hover {
    color: #888; /* 悬停时改变颜色 */
}