/* 基础样式 */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 禁止水平滚动 */
}

@supports (-webkit-touch-callout: none) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 确保 body 至少填满整个视口高度 */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    margin: 0.5em 0; /* 调整间距 */
    margin-top: 5em;
}

#tagline {
    color: black;
    text-align: center;
    font-size: 20px;
}

/* 图片画廊样式 */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 90%; /* 根据需要调整宽度 */
    margin: 6em auto; /* 增加上下间距 */
}

.image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-gallery img:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

/* 导航栏样式 */
#right-nav, #left-nav {
    position: absolute;
    top: 20px;
    padding: 10px;
    z-index: 3;
    font-size: 18px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#right-nav {
    right: calc(100% * 0.2);
}

#left-nav {
    left: calc(100% * 0.2);
}

#right-nav a, #left-nav a {
    color: inherit;
    text-decoration: none;
}

#left-nav a:hover {
    color: #555;
}

#right-nav a {
    position: relative; /* 确保伪元素相对于链接进行定位 */
    text-decoration: none; /* 移除默认的下划线 */
    color: inherit; /* 保持原有的文字颜色 */
}

#right-nav a::after {
    content: '';
    position: absolute;
    bottom: -2px; /* 调整下划线的位置 */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor; /* 使用当前文字颜色 */
    border-radius: 2px; /* 可选：添加圆角效果 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
    transform: scaleX(0); /* 初始状态下隐藏下划线 */
}

#right-nav a:hover::after {
    transform: scaleX(1); /* 悬停时显示下划线 */
}

#right-nav a.active::after {
    transform: scaleX(1); /* 选中态下显示下划线 */
}

#right-nav ul, #left-nav ul {
    list-style-type: none;
    padding: 0;
}

#right-nav ul li, #left-nav ul li {
    display: inline;
    margin: 0 10px;
}

@media (max-aspect-ratio: 4/3) {
    #right-nav {
        right: calc(100% * 0);
    }
    
    #left-nav {
        left: calc(100% * 0);
    }
    .image-gallery {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .image-gallery img {
        width: 100%; /* 调整宽度以适应竖屏显示 */
    }
}

/* 页脚样式 */
footer {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    background-color: #f5f5f7;
    color: #333;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: #333;
    text-decoration: none;
}
footer a:hover {
    color: #888; /* 悬停时改变颜色 */
}